$main-color:#0152a3;
$color-white:#fff;
$dark-color: #1d1d1d;
$bg-color: #252525;
$bg-color2: #0e0e0e;

.switch-box {
    position: fixed;
    bottom: 15px;
    right: 120px;
    z-index: 9999;
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border: 1.5px solid $main-color;
        transition: 0.4s;
        &::before {
            position: absolute;
            content: "";
            height: 25px;
            width: 25px;
            left: 0px;
            bottom: 4px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            transition: 0.4s;
            box-shadow: 0 0px 15px #ff004c3d;
            background: white url('../img/night.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        &.round {
            border-radius: 34px;
            &::before {
                border-radius: 50%;
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 30px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
    input:checked + .slider {
        background-color: transparent;
        border: 1.5px solid #ff004c3d;
    }
      
    input:focus + .slider {
        box-shadow: 0 0 1px #ff004c3d;
    }
      
    input:checked + .slider:before {
        transform: translateX(24px);
        background: white url('../img/sunny.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.theme-dark {
    $paragraph-color: #ffffff;
    $title-color:#ffffff;
    $color-grey:#ffffff;
    h1, h2, h3, h4, h5, h6 {
        color: $color-white; 
    }
    .color-title-blue {
        color: $color-white !important;
    }
    .text-color2 {
        color: #9b9b9b !important;
    }
    .section-title {
        span {
            color: #b1aeae;
        }
    }
    h3 {
        color: $color-white; 
        a {
            color: $color-white;
            transition: 0.7s;
        }
    }
    p {
        color: $color-white; 
    }
    body {
        background: $dark-color;
        color: $color-white; 
    }
    .default-bg-black {
        background-color: #000000;
    }
    .bg-section {
        background-color: $bg-color;
    }
    .header-right {
        background-color: $dark-color;
        .header-right-card {
            ul {
                li {
                    color: $color-white;
                    &:first-child::before {
                        display: none;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    .head-icon {
                        color: $color-white;
                    }
                    a {
                        color: $color-white;
                    }
                }
            }
        } 
    }
    .main-nav {
        nav {
            .navbar-nav  {
                .nav-item {
                    a {
                        color: $color-white;
                        i {
                            color: $color-white;
                        }
                        &:hover {
                            color: $main-color;
                        }
                    }
                    .dropdown-menu {
                        background-color: $bg-color !important;
                        li {
                            border-color: #f3f3f3;
                            a {
                                color: $color-white !important;
                                &.active {
                                    color: $main-color !important;
                                }
                                &:hover {
                                    color: $main-color !important;
                                }
                            }
                        }
                    }
                }   
            }
        }
    }
    .sticky-nav {
        .top-nav {
            background-color: $bg-color;
            nav {
                .navbar-nav {
                    .nav-item {
                        &:hover a,.active {
                            color: $main-color;
                        }
                        a {
                            color: $color-white;
                            &:hover {
                                color: $main-color ;
                            }
                            &.active {
                                color: $main-color !important;
                            }
                        }
                    }
                }
            }
            .modal-icon-btn2 {
                &:hover {
                    color: $main-color !important;
                }
            }
        }
        .text-color {
            color: $color-white !important;
        }
        .modal-icon-btn2 {
            color: $color-white
        }
        .pizi-nav {
            background-color: $bg-color;
            .navbar-light {
                background-color: $bg-color;
                .navbar-brand {
                    display: inline-block;
                }
                .navbar-brand-2 {
                    display: none;
                }
            }
            nav {
                .navbar-nav {
                    .nav-item {
                        &:hover a,.active {
                            color: $main-color;
                        }
                        a {
                            color: $color-white;
                            &:hover, :focus {
                                color: $main-color;
                            }
                            &.active {
                                color: $main-color !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                color: $color-white !important;
                span {
                    background-color: $color-white !important;
                }
            }
        }
        .mean-bar {
            background-color: $bg-color;
        }
        .navbar-nav {
            background-color: $dark-color;
        }
        .mean-nav {
            ul {
                li {
                    a {
                        color: $color-white;
                    }
                    .dropdown-menu {
                        background-color: $dark-color;
                    }
                }
            }
        }
    }
    .slider-item {
        &::before {
            opacity: 0.7;
        }
    }
    .banner-area {
        &::before {
            opacity: 0.7;
        }
    }
    .banner-from {
        background-color: $bg-color;
        h2 {
            color: $color-white;
        }
        .agree-label-two {
            label {
                color: $color-white;
            }
        }
        .form-group {
            .form-control {
               background-color: $dark-color;
            }
        }
        .nice-select {
            
            .list {
                background-color: $dark-color;
                .option {
                    color: $color-white;
                    &:hover {
                        background-color: $main-color !important;
                        color: $color-white;
                    }
                    .selected {
                        color: $color-white !important;
                        background-color: $main-color !important;
                    }
                }
            }
           
        }
    }
    .inner-banner {
        &::before {
            opacity: 0.9;
        }
    }
    .about-content {
        .about-sedule {
            ul {
                li {
                    color: $color-white;
                }
            }
        }
    }

    .submit-form-area {
        &::before {
           background-color: $bg-color;
        }
    }
   
    .about-img {
        .about-single {
            .about-play {
               background-color: $bg-color;
            }
        }
    }
    .about-right-content {
        .about-right-sedule {
            ul {
                li {
                    color: $color-white;
                }
            }
        }
    }
    .customer-area {
        background-color: #0e0e0e;
    }
    .customer-from {
        background-color: $dark-color;
        box-sizing: none;
        .form-group {
            .form-control {
               background-color: $bg-color;
            }
        }
        .nice-select {
            
            .list {
                background-color: $dark-color;
                .option {
                    color: $color-white;
                    &:hover {
                        background-color: $main-color !important;
                        color: $color-white;
                    }
                    .selected {
                        color: $color-white !important;
                    }
                }
            }
        }
       
    }
    .customer-service {
        background-color: $bg-color;
        box-shadow: none;
        .customer-service-card {
            background-color: $dark-color;
            i {
                color: $color-white;
            }
            h3 {
                color: $color-white;
            }
        }
    }
    .customer-service-item {
        background-color: $bg-color;
        i {
            color: $color-white;
        }
        h3 {
            color: $color-white;
        }
    }
    .service-area {
        background-color: $bg-color;
    }
    .service-item {
        background-color: $dark-color;
    }
    .service-paymen-bg {
        background-color: $bg-color2;
    }
    .service-list-side {
        background-color: $bg-color2;
    }
    .service-catagory {
        background-color: $bg-color;
    }
    .counter-bg {
        background-color: $bg-color;
    }
    .counter-bg2 {
        background-color: $bg-color;
    }
   
    .offer-area-two {
        background-color: $bg-color;
    }
    .team-card {
        .team-content {
            background-color: $dark-color;
            .team-right {
                .team-logo1 {
                    display: none;
                }
                .team-logo2 {
                    display: inline-block;
                }
            }
        }
    }
    .management-item {
        .management-img {
            .management-content {
                background-color: $bg-color;
            }
        }
    }
    .award-area {
        &::before {
            opacity: 0.7;
        }
    }
    .award-list {
        background-color: $bg-color;
    }
    .brand-item {
        a {
            .brand-item-logo1 {
                display: none !important;
            }
            .brand-item-logo2 {
                display: inline-block !important;
            }
        }
    }
    .brand-item-two {
        a {
            .brand-item-logo1 {
                display: none !important;
            }
            .brand-item-logo2 {
                display: inline-block !important;
            }
        }
    }
    .brand-area-two {
        background-color: $dark-color;
    }
    .maintenance-area {
        background-color: $bg-color2;
    }
    .project-area-two {
        background-color: $bg-color2;
    }
    .technician-item {
        ul {
            li {
                color: $color-white;
            }
        }
    }
    .price-area {
        background-color: $bg-color;
    }
    .price-card {
        background-color: $dark-color;
    }
    .client-item {
        background-color: $bg-color2;
        .content {
            p {
                color: $color-white;
            }
        }
    }
    .blog-card {
        background-color: $bg-color2;
    }
    .blog-item {
        background-color: $bg-color2;
    }
    .blog-dtls-content {
        .blog-dtls-date {
            .dtls-submit-date {
                background-color: $bg-color;
                span {
                    color: $color-white;
                }
            }
        }
        .blockquote-1 {
            background-color: $bg-color;
            p {
               color: $color-white;
            }
            span {
                color: $color-white;
            }
        }
    
        .blog-detls-sheare {
            .blog-sheare-tag {
                ul {
                    li {
                        background-color: $bg-color;
                        color: $color-white;
                        &:hover {
                            background-color: $main-color;
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .comment-profile {
            background-color: $bg-color;
        }
    
        .comments-wrap {
            ul {
                li {
                    background-color: $bg-color;
                }
            }
        }
    }
    .blog-dtls-side {
        
        .blog-widget {
            .title {
                color: $color-white;
            }
            &.search-widget {
                .search-form {
                    .form-control {
                       background-color: $dark-color;
                    }
                }
            }
            &.widget-catagory {
               
                ul {
                    li {
                        color: $color-white;
                        i {
                            color: $color-white;
                        }
                        a {
                            color: $color-white;
                        }
                        &:hover {
                            color: $main-color;
                            i {
                                display: inline-block;
                            }
                            a {
                                color: $main-color;
                            }
                        }
    
                    }
                }
            }
           
            &.blog-services-list {
               background-color: $bg-color;
                .get-blog-btn {
                    &:hover {
                        background-color: #000000;
                        color: $color-white;
                    }
                }
            }
            &.blog-widget-tag {
                ul {
                    li {
                        background-color: $bg-color;
                        &:hover {
                            background-color: $main-color;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
    .newsleter-right {
        background-color: $bg-color;
    }
    .contact-form {
        background-color: $bg-color;
        span {
            color: $color-white;
        }
        h2 {
            color: $color-white;
        }
        .form-group {
            .form-control {
                background-color: $dark-color;
            }
        }
        
    }
    .contact-right {
        .contact-form {
            background-color: $bg-color2 !important;
        }
    }
    .faq-accordion {
        .accordion {
            .accordion-item {
                background-color: $bg-color;
            }
            .accordion-title {
                color: $color-white;
            }
        }
    }

    .shop-desc {
        .shop-review {
            .rating-count {
                color: $color-white;
            }
        }
    }
    .shop-detls-tab {
        .tabs {
            li {
                a {
                    color: $color-white;
                }
            }
        }
    }
    .shop-detls-tab {
        .tab_content {
            .tabs_item {
                .shop-detls-tab-content {
                    h3 {
                        color: $color-white;
                    }
                    p {
                        color: $color-white;
                    }
                    .additional-information {
                        li {
                            span {
                                color: $color-white;
                            }
                        }
                    }
                    .shop-review-form {
                        .review-comments {
                            .review-item {
                                h3 {
                                    color: $color-white;
                                }
                            }
                        }
                        .review-form {
                            .contact-wrap-form {
                                .contact-form {
                                    background-color: $bg-color2;
                                    .form-group {
                                        label {
                                            color: $color-white;
                                        }
                                        .form-control {
                                            color: $color-white;
                                            background-color: $dark-color;
                                        }
                                        .form-message {
                                            color: $color-white;
                                            background-color: $dark-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cart-wraps-area {
        .cart-table {
            table {
                thead {
                    tr {
                        th {
                            color: $color-white;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            color: $color-white;
                            &.product-name {
                                a {
                                    color: $color-white;
                                }
                            }
                            &.product-thumbnail {
                                a {
                                    img {
                                        background-color: $dark-color;
                                    }
                                }
                            }
                            &.product-quantity {
                                .input-counter {
                                    input {
                                        color: $color-white;
                                        background-color: $bg-color;
                                    }
                                }
                            }
                            &.product-subtotal {
                                .remove {
                                    color: $color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-calc {
            background-color: $bg-color;
            .cart-wraps-form  {
                h3 {
                    color: $color-white;
                }
                .form-group {
                    .form-control {
                        background-color: $dark-color;
                        color: $color-white;
                    }
                    .nice-select {
                        background-color: $dark-color;
                        
                    }
                    .list {
                        background-color: $bg-color;
                       
                        .option {
                            color: $color-white !important;
                        }
                    }
                    .option {
                        &:hover {
                            color: $color-white;
                            background-color: $main-color;
                        }
                        &.focus {
                            color: $color-white;
                            background-color: $main-color;
                        }
                        &.selected {
                            &.focus {
                                color: $color-white;
                                background-color: $main-color;
                            }
                        }
                    }
                }
            }
        }
        .cart-totals {
            background-color: $bg-color;
            ul {
                li {
                    color: $color-white;
                    span {
                        color: $color-white;
                    }
                }
            }
        }
    }
    .billing-details {
        background-color: $bg-color;

        .form-group {
            label {
                color: $color-white;
            }
            .form-control {
                background-color: $dark-color;
                color: $color-white;
            }
            .form-message {
                background-color: $dark-color;
                color: $color-white;
            }
            .nice-select {
                background-color: $dark-color;
                color: $color-white;
            }
            .list {
                background-color: $bg-color;
                color: $color-white;
                .option {
                    color: $color-white;
                }
            }
            .option {
                &:hover {
                    color: $color-white;
                    background-color: $main-color;;
                }
                &.focus {
                    color: $color-white;
                    background-color: $main-color;;
                }
                &.selected {
                    &.focus {
                        color: $color-white;
                        background-color: $main-color;;
                    }
                }
            }
        }
        .form-check {
            .form-check-label  {
                color: $color-white;
            }
        }
    }
    .checkout-area {
        .checkout-user {
            background-color: $bg-color;
            color: $color-white;
            span {
                color: $color-white;
                a {
                    color: $color-white;
                }
            }
        }
    }
    .order-details {
        .order-table {
            background-color: $bg-color;
            table {
                thead {
                    tr {
                        th {
                            color: $color-white;
                        }
                        
                    }
                }
                tbody {
                   tr {
                        td {
                            color: $color-white;
                            &.product-name {
                                a {
                                    color: $color-white;
                                }
                            }
                            &.order-subtotal {
                                span {
                                    color: $color-white;
                                }
                            }
                            &.order-shipping {
                                span {
                                    color: $color-white;
                                }
                            }
                            &.total-price {
                                span {
                                    color: $color-white;
                                }
                            }
                        }
                   }
                }
            }
        }
        .payment-box {
            background-color: $bg-color;
            .payment-method {
                p [type="radio"]:checked + label {
                    color: $main-color;     
                }
                p [type="radio"]:not(:checked) {
                    display: none;
                }
                p [type="radio"]:not(:checked) + label {
                    color: $color-white;
                    &::after {
                        color: $color-white;
                    }     
                }
            }
        }
    }
    .user-all-form {
        .contact-form {
            .agree-label {
                label {
                    color: $color-white;
                }
            }
        }
    }
    .coming-soon-area {
        &::before {
            opacity: 0.7;
        }
    }
    .newsletter-form {
        .form-control {
           background-color: $bg-color2;
           color: $color-white;
        }
    }
}