{% extends 'base.html' %}
        {% load static %}


        {% block homepage %}
        <!-- Home Area -->
        <div class="home-area">
            <div class="container-fluid m-0 p-0">
                <div class="home-slider owl-carousel owl-theme">
                    <div class="slider-item item-bg1">
                        <div class="slider-content banner-content">
                            <span>Pool Cleaning Services</span>
                            <h1>WE’RE HERE TO HELP YOU</h1>
                            <p>
                                Swimming empowers a global network of over 150,000 businesses 
                                in countries to engage with customers and grow their services
                            </p>
                            <div class="slider-btn">
                                <a href="#" class="default-btn default-bg-white">Get a Quote</a>
                                <a href="#" class="default-btn active">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item item-bg2">
                        <div class="slider-content banner-content">
                            <span>Pool Cleaning Services</span>
                            <h1>WE’RE READY TO HELP YOU</h1>
                            <p>
                                Swimming empowers a global network of over 150,000 businesses 
                                in countries to engage with customers and grow their services
                            </p>
                            <div class="slider-btn">
                                <a href="#" class="default-btn default-bg-white">Get a Quote</a>
                                <a href="#" class="default-btn active">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item item-bg3">
                        <div class="slider-content banner-content">
                            <span>Pool Cleaning Services</span>
                            <h1>OUR TEAM ALWAYS WITH YOU</h1>
                            <p>
                                Swimming empowers a global network of over 150,000 businesses 
                                in countries to engage with customers and grow their services
                            </p>
                            <div class="slider-btn">
                                <a href="#" class="default-btn default-bg-white">Get a Quote</a>
                                <a href="#" class="default-btn active">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Area End -->

        <!-- About Area -->
        <div class="about-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="about-content">
                            <div class="section-title">
                                <span>ABOUT  pizi</span>
                                <h2>Pool Service For The Entire Solution Regarding Pool</h2>
                                <p>
                                    Pool Service provides exceptional pool maintenance pool 
                                    cleaning and pool equipment repair for the Area! We are 
                                    masters of the pool. We know that choosing a pool cleaning service 
                                </p>
                            </div>
 
                            <div class="about-sedule">
                                <ul>
                                    <li class="active">
                                        <i class="flaticon-diagonal-arrow"></i> We Are a Certified  Technician Based Pool Service Company
                                    </li>
                                    <li>
                                       We Are Always Ready to Provide You Best Pool Services.
                                    </li>
                                    <li>
                                        We Have a Professional Technician Who Provides Service You.
                                    </li>
                                </ul>
                            </div>

                            <div class="about-btn">
                                <a href="" class="default-btn default-bg-black">
                                    CONTACT US
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="about-img">
                            <div class="about-single">
                                <img src="assets/img/about/1.jpg" alt="About Images">
                                <div class="about-dots">
                                    <img src="assets/img/about/dots.png" alt="Images">
                                </div>
                                <div class="about-play">
                                    <h3>pizi INTRO</h3>
                                    <p>Lorem ipsum dolor sit amet ctur reet dolore magnam aliquam quaerat luptatem.</p>
                                    <a href="https://www.youtube.com/watch?v=N-SBQaRsalE" class="play-btn">
                                        <i class='bx bx-play'></i>
                                        How It’s Work
                                    </a>
                                    <div class="play-shape">
                                        <img src="assets/img/about/shape.png" alt="shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->
        
        <!-- Customer Area -->
        <div class="customer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 pr-0">
                        <div class="customer-from">
                            <p>Submit Form </p>
                            <h2>How Can We Help You?</h2>
                            <form action="{% url 'home' %}" method="POST" class="contactForm" >
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <i class='bx bx-user'></i>
                                            <input class="form-control" type="text" name="name" placeholder="First Name">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <i class='bx bx-mail-send'></i>
                                            <input class="form-control" type="text" name="email" placeholder="Your Email">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <i class='bx bx-file'></i>
                                            <select name="service" class="form-control">
                                                <option>Seclect Service</option>
                                                <option value="Pool Cleaning">Pool Cleaning</option>
                                                <option value="Pool Repair">Pool Repair</option>
                                                <option value="Pool Maintenance">Pool Maintenance</option>
                                            </select>	
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <i class='bx bx-phone'></i>
                                            <input class="form-control" type="text" name="phone" placeholder="Your Phone">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <i class='bx bx-mail-send'></i>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="5" required data-error="Write your message" placeholder="Your Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 text-center">
                                        <input type="submit" value="GET STARTED" class="get-btn page-btn text-center">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-0">
                        <div class="customer-service">
                            <h2>We Create Value For Our Probable Customer Needs</h2>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="customer-service-card">
                                        <i class="flaticon-global"></i>
                                        <a href="#" class="content">
                                            <h3>Pool Maintence Services</h3>                                                   
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="customer-service-card">
                                        <i class="flaticon-holographic"></i>
                                        <a href="#" class="content">
                                            <h3>Automation Services</h3>                                           
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="customer-service-card">
                                        <i class="flaticon-helmet"></i>
                                        <a href="#" class="content">
                                            <h3>Equipment Repairment</h3>                                           
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="customer-service-card">
                                        <i class="flaticon-keyword"></i>
                                        <a href="#" class="content">
                                            <h3>Inspection To pizi </h3>                                    
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="customer-service-card">
                                        <i class="flaticon-renovation"></i>
                                        <a href="#" class="content">
                                            <h3>Renovation System</h3>                                  
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="customer-service-card">
                                        <i class="flaticon-control-panel"></i>
                                        <a href="#" class="content">
                                            <h3>Automation Services</h3>                             
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="customer-service-card">
                                        <i class="flaticon-recommend"></i>
                                        <a href="#" class="content">
                                            <h3>Quality Testing Method</h3>                          
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="customer-service-card">
                                        <i class="flaticon-mist"></i>
                                        <a href="#" class="content">
                                            <h3>HasleFree Services</h3>                      
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Customer Area End -->

        <!-- Service Area -->
        <section class="service-area pt-100">
            <div class="container">
                <div class="section-title text-center">
                    <span>OUR SERVICES</span>
                    <h2>professional services</h2>
                    <p class="margin-auto">
                        Get awesome provides exceptional pool maintenance pool 
                        cleaning and pool equipment repair for the Area! 
                    </p>
                </div>
                <div class="service-slider owl-carousel owl-theme pt-45">
                    <div class="service-item">
                        <a href="service-details.html"><h3>Katy Pool Service All Kind Of Pool</h3></a>
                        <p>Pool ipsum dolor sit ametcompo icdunut labore et doloregnam auam ruaerat </p>
                        <a href="service-details.html" class="read-more-btn">
                            <i class="flaticon-diagonal-arrow"></i>
                            READ MORE
                        </a>
                        <div class="service-icon">
                            <i class="flaticon-swimming-pool-1"></i>
                        </div>
                    </div>

                    <div class="service-item">
                        <a href="service-details.html"><h3>Webster TX Pool Service For ENTIRE AREA</h3></a>
                        <p>Pool ipsum dolor sit ametcompo icdunut labore et doloregnam auam ruaerat </p>
                        <a href="service-details.html" class="read-more-btn">
                            <i class="flaticon-diagonal-arrow"></i>
                            READ MORE
                        </a>
                        <div class="service-icon">
                            <i class="flaticon-lounger"></i>
                        </div>
                    </div>

                    <div class="service-item">
                        <a href="service-details.html"><h3>Galveston Pool Service High quality service</h3></a>
                          
                        <p>Pool ipsum dolor sit ametcompo icdunut labore et doloregnam auam ruaerat </p>
                        <a href="service-details.html" class="read-more-btn">
                            <i class="flaticon-diagonal-arrow"></i>
                            READ MORE
                        </a>
                        <div class="service-icon">
                            <i class="flaticon-swimming-pool-1"></i>
                        </div>
                    </div>

                    <div class="service-item">
                        <a href="service-details.html"><h3>Katy Pool Service All Kind Of Pool</h3></a>
                        <p>Pool ipsum dolor sit ametcompo icdunut labore et doloregnam auam ruaerat </p>
                        <a href="service-details.html" class="read-more-btn">
                            <i class="flaticon-diagonal-arrow"></i>
                            READ MORE
                        </a>
                        <div class="service-icon">
                            <i class="flaticon-swimming-pool-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Area End -->
        
        <!-- Counter Area -->
        <div class="counter-area pt-100">
            <div class="container">
                <div class="counter-max counter-bg pt-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single ml-60">
                                    <h2>20</h2>
                                    <div class="counter-conten">
                                        <span>Finished</span>
                                        <p>Project</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single">
                                    <h2>98</h2>
                                    <div class="counter-conten">
                                        <span>Happy Client's</span>
                                        <p>Around world</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single">
                                    <h2>56</h2>
                                    <div class="counter-conten">
                                        <span>Poject Awards</span>
                                        <p>COMPLETED</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single">
                                    <h2>90</h2>
                                    <div class="counter-conten">
                                        <span>CUSTOMER</span> 
                                        <p>WORLDWIDE</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Counter Area End -->
        
        <!-- management Area -->
        <div class="management-area ptb-100">
            <div class="container">
                <div class="management-title">
                    <div class="section-title text-center">
                        <span>OTHER MANAGEMENT</span>
                        <h2>TEST OF THE SERVICES WE WOULD LIKE TO OFFER YOU </h2>
                        <p>
                            Management provides exceptional pool maintenance pool cleaning and pool 
                            equipment repair for the Area! We are masters of the pool. We know that 
                            choosing a pool cleaning service 
                        </p>
                    </div>
                </div>
                <div class="management-slider owl-carousel owl-theme pt-45">
                    <div class=" management-item">
                        <div class=" management-img">
                            <img src="assets/img/management/1.jpg" alt="Images">
                            <div class=" management-content">
                                <span>POOL</span>
                                <h3>
                                    GET POOL AUTOMATION SERVICE
                                    YOU’ARE FORTUNATE ENOUGH
                                </h3>
                                <p>Plying dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora</p>
                            </div>
                        </div>
                    </div>

                    <div class=" management-item">
                        <div class=" management-img">
                            <img src="assets/img/management/2.jpg" alt="Images">
                            <div class=" management-content">
                                <span>EQUIPMENT</span>
                                <h3>
                                    Creating pool eqipment service
                                    easy to consuption
                                </h3>
                                <p>Plying dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora</p>
                            </div>
                        </div>
                    </div>

                    <div class=" management-item">
                        <div class=" management-img">
                            <img src="assets/img/management/3.jpg" alt="Images">
                            <div class=" management-content">
                                <span>CLEANING</span>
                                <h3>
                                    GET POOL AUTOMATION SERVICE
                                    YOU’ARE FORTUNATE ENOUGH
                                </h3>
                                <p>Plying dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora</p>
                            </div>
                        </div>
                    </div>

                    
                    <div class=" management-item">
                        <div class=" management-img">
                            <img src="assets/img/management/4.jpg" alt="Images">
                            <div class=" management-content">
                                <span>POOL</span>
                                <h3>
                                    GET POOL AUTOMATION SERVICE
                                    YOU’ARE FORTUNATE ENOUGH
                                </h3>
                                <p>Plying dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- management Area End -->

        <!-- Award Area -->
        <div class="award-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="award-list">
                            <ul>
                                <li>
                                    <span>O1</span>
                                    600+Pool Industry Design Awards
                                </li>

                                <li>
                                    <span>O2</span>
                                    First Generation Swimming Pool Builder
                                </li>

                                <li>
                                    <span>O3</span>
                                    Nationally Recognized and Respected
                                </li>

                                <li>
                                    <span>O4</span>
                                    Over 60,000 Quality Swimming Pools Design
                                </li>

                                <li>
                                    <span>O5</span>
                                    Best Quality Swimming Pools Design
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="award-title">
                            <div class="section-title">
                                <span>OTHER MANAGEMENT</span>
                                <h2>Top Reasons to Contact Us Today!</h2>
                                <p>
                                    Management provides exceptional pool maintenance pool cleaning and pool 
                                    equipment repair for the Area! We are masters of the pool. We know that 
                                    choosing a pool cleaning service 
                                </p>
                            </div>
                            <a href="#" class="default-btn default-bg-white">
                                Request a Quote
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Award Area End -->

        <!-- Offer Area -->
        <div class="offer-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="offer-item">
                            <div class="section-title">
                                <span>OUR OFFER</span>
                                <h2>Start Pool Cleaning Services with reasonable price</h2>
                                <p>
                                    Swimmers race provides exceptional pool maintenance pool cleaning 
                                    and pool equipment repair for the Area! We are masters of the pool. 
                                    We know that choosing a pool cleaning service 
                                </p>
                                <p>
                                    Race provides exceptional pool maintenance pool cleaning and pool equipment repair
                                </p>
                            </div>

                            <div class="offer-rate">
                                <h3>Starting at <span>$56.00</span>/Montly</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="offer-img">
                            <div class="images-offer">
                                <div class="offer-top">
                                    <h3>CLAIM THE OFFER NOW</h3>
                                    <a href="#" class="claim-btn">
                                        <i class="flaticon-diagonal-arrow"></i>
                                        Claim now
                                    </a>
                                </div>
                                <img src="assets/img/offer/1.jpg" alt="Images">
                                <div class="offer-bottom">
                                    <h3>CARRER OPPORTUNITIES</h3>
                                    <a href="#" class="join-btn">Join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Offer Area End -->

        <!-- Brand Area -->
        <div class="brand-area">
            <div class="container">
                <div class="brand-slider container-max owl-carousel owl-theme">
                    <div class="brand-item">
                        <a href="#">
                            <img src="assets/img/brand/b1.png" class="brand-item-logo1" alt="Brand Images">
                            <img src="assets/img/brand/brand1.png" class="brand-item-logo2" alt="Brand Images">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="assets/img/brand/b2.png" class="brand-item-logo1" alt="Brand Images">
                            <img src="assets/img/brand/brand2.png" class="brand-item-logo2" alt="Brand Images">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="assets/img/brand/b3.png" class="brand-item-logo1" alt="Brand Images">
                            <img src="assets/img/brand/brand3.png" class="brand-item-logo2" alt="Brand Images">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="assets/img/brand/b4.png" class="brand-item-logo1" alt="Brand Images">
                            <img src="assets/img/brand/brand4.png" class="brand-item-logo2" alt="Brand Images">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="assets/img/brand/b5.png" class="brand-item-logo1" alt="Brand Images">
                            <img src="assets/img/brand/brand5.png" class="brand-item-logo2" alt="Brand Images">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a href="#">
                            <img src="assets/img/brand/b1.png" class="brand-item-logo1" alt="Brand Images">
                            <img src="assets/img/brand/brand1.png" class="brand-item-logo2" alt="Brand Images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->

        <!-- Maintenance Area End -->
        <section class="maintenance-area pt-100 pb-70">
            <div class="container">
                <div class="maintenance-text">
                    <div class="section-title text-center">
                        <span>SUPPORT</span>
                        <h2 class="margin-auto">POOL MAINTENANCE</h2>
                        <p class="margin-auto">
                            management provides exceptional pool maintenance pool cleaning and pool equipment repair for the Area! 
                        </p>
                        <p class="margin-auto">Repairs <a href="#">Maintenance</a></p>
                    </div>
                </div>

                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="maintenance-item">
                            <i class="flaticon-diagonal-arrow"></i>
                            <div class="maintenance-content">
                                <h3>
                                    Premier Pool Service Can 
                                    Change The Sand Your Sand Filter
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="maintenance-item">
                            <i class="flaticon-diagonal-arrow"></i>
                            <div class="maintenance-content">
                                <h3>
                                    Remove Unsightly Brown Stains
                                    From Your Pool With Our Acid
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="maintenance-item">
                            <i class="flaticon-diagonal-arrow"></i>
                            <div class="maintenance-content">
                                <h3>
                                    Need Your Pool Filter Repaired
                                    To Change With Professional
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="maintenance-item">
                            <i class="flaticon-diagonal-arrow"></i>
                            <div class="maintenance-content">
                                <h3>
                                    Premier Pool Service Can
                                    Inspect & Clean Your Pool Filter
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="maintenance-item">
                            <i class="flaticon-diagonal-arrow"></i>
                            <div class="maintenance-content">
                                <h3>
                                    We Install & Service Salt Cell
                                    Chlorine Systems
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="maintenance-item">
                            <i class="flaticon-diagonal-arrow"></i>
                            <div class="maintenance-content">
                                <h3>
                                    Premier Pool Service Can Blow 
                                    Out Your Plumbing Lines
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 text-center">
                        <div class="maintenance-more">
                            <a href="#"><i class="flaticon-diagonal-arrow"></i> MORE MAINTENANCE</a>
                        </div>
                    </div>
                </div>
            </div>

        </section> 
        <!-- Maintenance Area End -->
        
        <!-- Technician Area -->
        <div class="technician-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="technician-item">
                            <span>BUY GUNSTUFF</span>
                            <h2>OUR GOAL TO GIVE YOU THE SAME TECHNICIAN ON THE SAME DAY</h2>
                            <ul>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Technicians are clean cut and always in uniform
                                </li>

                                <li>
                                    <i class='bx bx-check'></i>
                                    Trucks are clearly marked and all vehicles are commercially
                                </li>

                                <li>
                                    <i class='bx bx-check'></i>
                                    Reports on your pool If you suspect equipment suspect a problem
                                </li>

                                <li>
                                    <i class='bx bx-check'></i>
                                    We handle ALL hazardous chemicals for you
                                </li>

                                <li>
                                    <i class='bx bx-check'></i>
                                    We are safe water condition experts
                                </li>

                                <li>
                                    <i class='bx bx-check'></i>
                                   Technicians are CPO licensed with chemical knowledge
                                    
                                </li>
                            </ul>

                            <div class="technician-btn">
                                <a href="#" class="default-btn default-bg-black">JOIN NOW</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="technician-img">
                            <img src="assets/img/2.jpg" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Technician Area End -->
        
        <!-- Project Area -->
        <section class="project-area pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span>PROJECTS</span>
                    <h2 class="margin-auto">Latest Case Studies</h2>
                    <p class="margin-auto">
                        Project provides exceptional pool maintenance pool cleaning and pool equipment repair for the Area!  
                    </p>
                </div>

                <div class="row pt-45">
                    <div class="col-lg-4 col-sm-6">
                        <div class="project-card">
                            <div class="project-card-img">
                                <a href="projects.html">
                                    <img src="assets/img/project/1.jpg" alt="Project Images">
                                </a>
                                <div class="project-content">
                                    <span>CLEANING</span>
                                    <a href="projects.html">
                                        <h3>100% PURE POOL CLEANING</h3> 
                                    </a>
                                    <a href="projects.html" class="view-more-btn">
                                        <i class="flaticon-diagonal-arrow"></i>
                                        VIEW PROJECT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="project-card">
                            <div class="project-card-img">
                                <a href="projects.html">
                                    <img src="assets/img/project/2.jpg" alt="Project Images">
                                </a>
                                <div class="project-content active">
                                    <span>WASHING</span>
                                    <a href="projects.html">
                                        <h3>POOL WASHING SERVICES</h3> 
                                    </a>
                                    <a href="projects.html" class="view-more-btn">
                                        <i class="flaticon-diagonal-arrow"></i>
                                        VIEW PROJECT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                        <div class="project-card">
                            <div class="project-card-img">
                                <a href="projects.html">
                                    <img src="assets/img/project/3.jpg" alt="Project Images">
                                </a>
                                <div class="project-content">
                                    <span>Pipe</span>
                                    <a href="projects.html">
                                        <h3>UNDEARABLE PIPE CLEANING</h3> 
                                    </a>
                                    <a href="projects.html" class="view-more-btn">
                                        <i class="flaticon-diagonal-arrow"></i>
                                        VIEW PROJECT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Project Area End -->
        
        <!-- Price Area End -->
        <div class="price-area pt-100">
            <div class="container">
                <div class="section-title text-center">
                    <span>PRICING</span>
                    <h2 class="margin-auto">AFFORDABLE PRICING PLAN</h2>
                </div>

                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card">
                            <div class="price-card-title">
                                <h3>SALT WATER SERVICE</h3>
                                <h2><span>$</span>45</h2>
                                <p>Month with camical</p>
                            </div>
                            <ul>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    PRESSURE TESTING LINES
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LEAK DETECTION & SONIC
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    AUTOMATIC CLEANERS
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LEAK LINES UNDERGROUND
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LANDSCAPE DESIGN
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    HEATER AND VENTING
                                    <i class="flaticon-info list-right"></i>
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="default-btn default-bg-black">START PAKAGE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="price-card">
                            <div class="price-card-title">
                                <h3>FULL POOL SERVICES</h3>
                                <h2><span>$</span>75</h2>
                                <p>Month with camical</p>
                            </div>
                            <ul>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    PRESSURE TESTING LINES
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LEAK DETECTION & SONIC
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    AUTOMATIC CLEANERS
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LEAK LINES UNDERGROUND
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LANDSCAPE DESIGN
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    HEATER AND VENTING
                                    <i class="flaticon-info list-right"></i>
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="default-btn default-bg-black">START PAKAGE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                        <div class="price-card">
                            <div class="price-card-title">
                                <h3>CHEMICAL ONLY</h3>
                                <h2><span>$</span>60</h2>
                                <p>Month with camical</p>
                            </div>
                            <ul>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    PRESSURE TESTING LINES
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LEAK DETECTION & SONIC
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    AUTOMATIC CLEANERS
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LEAK LINES UNDERGROUND
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    LANDSCAPE DESIGN
                                    <i class="flaticon-info list-right"></i>
                                </li>
                                <li>
                                    <i class="flaticon-curve-arrow list-left"></i>
                                    HEATER AND VENTING
                                    <i class="flaticon-info list-right"></i>
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="default-btn default-bg-black">START PAKAGE</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsleter-section">
                    <div class="row">
                        <div class="col-lg-7 pe-0">
                            <div class="newsleter-area">
                                <h2>Don't Miss Our Update Use This Subscription</h2>
                                <form action="{% url 'home' %}" class="newsletter-form" data-toggle="validator" method="POST">
                                    {% csrf_token %}
                                    <input type="email" class="form-control" placeholder="Enter Your Email" name="n_email" required autocomplete="off">
                                    <input class="subscribe-btn" type="submit" value="SUBSCRIBE NOW">
                                       
                                    </input>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-5 ps-0">
                            <div class="newsleter-right">
                                <h3>Get Free Consultancy or Support from us</h3>
                                <a href="tel:+4(654)1234567432">+4 (654) 123 456 7432</a>
                                <div class="newsleter-right-icon">
                                    <i class='bx bx-phone-call' ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price Area End -->

       <!-- Client Area End -->
       <div class="client-area pt-100">
            <div class="container">
                <div class="section-title text-center">
                    <span>FEEDBACKS</span>
                    <h2 class="margin-auto color-title-blue">WHAT’S CLIENTS SAYING</h2>
                </div>
                <div class="client-slider owl-carousel owl-theme">
                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/img/testimonial/t-1.png" alt="Testimonial Images">
                        </div>
                        <div class="client-text">
                            <h3>David McLean</h3>
                            <span>CEO Manager At Fly</span>
                        </div>
                        <div class="content">
                            <p>
                                I chose pizi because of their value and incredible 
                                Superior customer service the really awesome
                                An organization with 100% satisfaction that
                                Really amazed me no doubt 
                            </p>
                        </div>
                    </div>

                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/img/testimonial/t-2.png" alt="Testimonial Images">
                        </div>
                        <div class="client-text">
                            <h3>Wonin Lowis</h3>
                            <span>Manager At Toy Pool</span>
                        </div>
                        <div class="content">
                            <p>
                                I chose pizi because of their value and incredible 
                                Superior customer service the really awesome
                                An organization with 100% satisfaction that
                                Really amazed me no doubt 
                            </p>
                        </div>
                    </div>

                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/img/testimonial/t-1.png" alt="Testimonial Images">
                        </div>
                        <div class="client-text">
                            <h3>David McLean</h3>
                            <span>CEO Manager At Fly</span>
                        </div>
                        <div class="content">
                            <p>
                                I chose pizi because of their value and incredible 
                                Superior customer service the really awesome
                                An organization with 100% satisfaction that
                                Really amazed me no doubt 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Area End -->

        <!-- Blog Area -->
        <section class="blog-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span>NEWS AND BLOGS</span>
                    <h2 class="margin-auto">Our Latest BLOGS</h2>
                    <p class="margin-auto">Project provides exceptional pool maintenance pool cleaning and pool equipment repair for the Area! </p>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card">
                            <a href="blog-details.html">
                                <img src="assets/img/blog/1.jpg" alt="Blog Images">
                            </a>
                            <div class="blog-content">
                                <ul>
                                    <li>
                                        <i class='bx bx-time-five'></i>
                                        16 Fubruary 2020
                                    </li>
                                    <li>
                                        <i class='bx bx-message-dots'></i>
                                        5 Comment
                                    </li>
                                </ul>
                                <a href="blog-details.html"><h3>Create Your Business Plan with pizi In Half The Time </h3></a>
                                <a href="blog-details.html" class="more-blog">
                                    <i class="flaticon-diagonal-arrow"></i>
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card">
                            <a href="blog-details.html">
                                <img src="assets/img/blog/2.jpg" alt="Blog Images">
                            </a>
                            <div class="blog-content">
                                <ul>
                                    <li>
                                        <i class='bx bx-time-five'></i>
                                        13 January 2020
                                    </li>
                                    <li>
                                        <i class='bx bx-message-dots'></i>
                                        1 Comment
                                    </li>
                                </ul>
                                <a href="blog-details.html"><h3>Make Your Pool Energy Efficient And  Eco-friendly</h3></a>
                                <a href="blog-details.html" class="more-blog">
                                    <i class="flaticon-diagonal-arrow"></i>
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                        <div class="blog-card">
                            <a href="blog-details.html">
                                <img src="assets/img/blog/3.jpg" alt="Blog Images">
                            </a>
                            <div class="blog-content">
                                <ul>
                                    <li>
                                        <i class='bx bx-time-five'></i>
                                        15 March 2020
                                    </li>
                                    <li>
                                        <i class='bx bx-message-dots'></i>
                                        8 Comment
                                    </li>
                                </ul>
                                <a href="blog-details.html"><h3>How To Choose The Right Pool Cleaner For You</h3></a>
                                   
                                <a href="blog-details.html" class="more-blog">
                                    <i class="flaticon-diagonal-arrow"></i>
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
        {% endblock homepage %}
        