{% extends 'base.html' %}
{% load static %}

{% block service-details %}


        <!-- Inner Banner -->
        <div class="inner-banner inner-bg4">
            <div class="container">
                <div class="inner-title text-center">
                    <h3>Commercial Pool Service</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                        </li>
                        <li>Commercial  Pool  Service</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->
        
        <!-- Service Dtls Area -->
        <div class="service-dtls-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-left-side">
                            <div class="service-catagory">
                                <h3>ALL SERVICES</h3>
                                <ul>
                                    <li class="active">
                                        <i class="flaticon-send"></i>
                                        Residential Pool Services
                                    </li>
                                    <li>
                                        <i class="flaticon-send"></i>
                                        COMMERCIAL POOL SERVICE
                                    </li>
                                    <li>
                                        <i class="flaticon-send"></i>
                                        Weekly Pool Cleaning Service
                                    </li>
                                    <li>
                                        <i class="flaticon-send"></i>
                                        Seasonal Service Pool Service
                                    </li>
                                    <li>
                                        <i class="flaticon-send"></i>
                                        Pool Tile Cleaning Service
                                    </li>
                                    <li>
                                        <i class="flaticon-send"></i>
                                        Spa & Hot Tub Cleaning Service
                                    </li>
                                </ul>
                            </div>

                            <div class="service-list-side">
                                <ul>
                                    <li>
                                        <div class="service-list-icon">
                                            <i class='flaticon-phone-call'></i>
                                        </div>
                                        <span>Call Us Now!</span>
                                        <h3>+(704) 279-1249</h3>
                                    </li>

                                    <li>
                                        <div class="service-list-icon">
                                            <i class='flaticon-email'></i>
                                        </div>
                                        <span>Talk To Us</span>
                                        <h3>info@pizi.com</h3>
                                    </li>

                                    <li>
                                        <div class="service-list-icon">
                                            <i class='flaticon-alarm-clock'></i>
                                        </div>
                                        <span>Saturday:</span>
                                        <h3>09:00AM - 07:00PM</h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="service-dtls-content">
                            <div class="section-title">
                                <span>Residential Pool</span>
                                <h2 class="color-title-blue">RESIDENTIAL POOL SERVICES</h2>
                                <p>
                                    Service provides exceptional pool maintenance pool cleaning and 
                                    pool equipment repair for the Area! We are masters of the pool.
                                    We know that choosing a pool cleaning service 
                                </p>
                            </div>
                            <div class="service-img">
                                <img src="assets/img/service-details/1.jpg" alt="Images">
                            </div>

                            <div class="service-qulity-dtls">
                                <h2>We Give You High-Quality Solutions</h2>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="service-dtls-item">
                                            <ul>
                                                <li>
                                                    <div class="service-dtls-icon">
                                                        <i class="flaticon-settings"></i>
                                                    </div>
                                                    <div class="service-dtls-content">
                                                        <h3>Weekly maintenance package</h3>
                                                        <p>Tuin ipsum dolor sit ametcompounut labore et doloregnam auaerat </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="service-dtls-item">
                                            <ul>
                                                <li>
                                                    <div class="service-dtls-icon">
                                                        <i class="flaticon-wrench"></i>
                                                    </div>
                                                    <div class="service-dtls-content">
                                                        <h3>Bi-Weekly maintenance package</h3>
                                                        <p>Tuin ipsum dolor sit ametcompounut labore et doloregnam auaerat </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="service-dtls-item">
                                            <ul>
                                                <li>
                                                    <div class="service-dtls-icon">
                                                        <i class="flaticon-key"></i>
                                                    </div>
                                                    <div class="service-dtls-content">
                                                        <h3>Open / Close Package</h3>
                                                        <p>Tuin ipsum dolor sit ametcompounut labore et doloregnam auaerat </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="service-dtls-item">
                                            <ul>
                                                <li>
                                                    <div class="service-dtls-icon">
                                                        <i class="flaticon-swimming-pool"></i>
                                                    </div>
                                                    <div class="service-dtls-content">
                                                        <h3>Pool Opening Service</h3>
                                                        <p>Tuin ipsum dolor sit ametcompounut labore et doloregnam auaerat </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="service-dtls-item">
                                            <ul>
                                                <li>
                                                    <div class="service-dtls-icon">
                                                        <i class="flaticon-padlock"></i>
                                                    </div>
                                                    <div class="service-dtls-content">
                                                        <h3>Pool Closing Service</h3>
                                                        <p>Tuin ipsum dolor sit ametcompounut labore et doloregnam auaerat </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="service-dtls-item">
                                            <ul>
                                                <li>
                                                    <div class="service-dtls-icon">
                                                        <i class="flaticon-tiles"></i>
                                                    </div>
                                                    <div class="service-dtls-content">
                                                        <h3>Pool Closing Service</h3>
                                                        <p>Tuin ipsum dolor sit ametcompounut labore et doloregnam auaerat </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="service-dtls-item">
                                            <ul>
                                                <li>
                                                    <div class="service-dtls-icon">
                                                        <i class="flaticon-coffee"></i>
                                                    </div>
                                                    <div class="service-dtls-content">
                                                        <h3>Hot Tub / Spa Service</h3>
                                                        <p>Tuin ipsum dolor sit ametcompounut labore et doloregnam auaerat </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="service-dtls-item">
                                            <ul>
                                                <li>
                                                    <div class="service-dtls-icon">
                                                        <i class="flaticon-equanimity"></i>
                                                    </div>
                                                    <div class="service-dtls-content">
                                                        <h3>Stone / Tile / Deck Sealing</h3>
                                                        <p>Tuin ipsum dolor sit ametcompounut labore et doloregnam auaerat </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="service-dtls-tech">
                                <h2>HIRE A PROFESSIONAL POOL SERVICE TECHNICIAN</h2>
                                <p>
                                    roinwin provides exceptional pool maintenance pool cleaning and pool 
                                    equipment repair for the Area We are masters of the pool. 
                                </p>
                    
                                <div class="service-tech-img">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="img-1">
                                                <img src="assets/img/service-details/2.jpg" alt="Images">
                                            </div>
                                            
                                        </div>
                                        <div class="col-5">
                                           <div class="img-2">
                                                <img src="assets/img/service-details/3.jpg" alt="Images">
                                           </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    When you work with a professional pool service to maintain your pool, you’ll enjoy the befits 
                                    of a picture-perfect pool without needing to dedicate your free time to pool care or cleaing. 
                                    Proper pool care requires the right tools for the job. Your pool service will encpass everthing 
                                    that is needed to maintain your pool, including chemicals and tools, so yo have to pchase or 
                                    store these items at your home.
                                </p>

                                <p>
                                    Your pool service will also check for pool damage or leakas well as service the pool’s filter  
                                    maintenance must be performed diligently. When you hire a professional andle your pool care, 
                                    you can enjoy more free time in your own personal schedule.
                                </p>
                            </div>
                            
                            <div class="service-dtls-join ">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-md-4">
                                        <img src="assets/img/service-details/logo.png" alt="Logo">
                                    </div>

                                    <div class="col-lg-8 col-md-8">
                                        <div class="service-dtls-btn">
                                            <a href="#" class="service-dtls-get">GET FREE ESTIMATE</a>
                                            <a href="#" class="service-dtls-cal">CALCULATOR</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service Dtls Area End -->
        {% endblock service-details %}
        